@{
    ViewBag.Title = "Sobre HelpHospital";
}
<h2>@ViewBag.Title</h2>




<div class="row">
        
    <div class="col-md-12 m-auto">
        <img src="~/fonts/Imagens/3.jpg" class="img-fluid" width="70%" height="70%">

        <h3>Gestão de Pacientes</h3>
        <p> Por intermedio do sistema, o atendente e o médico poderá cadastrar a entrada de novos pacientes.
        .</p>
    </div>

</div>