@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>




<div class="row">

    <div class="col-md-12 m-auto">
        <img src="~/fonts/Imagens/4.jpg" class="img-fluid" width="70%" height="70%">

        <h3>Esclareça suas Dúvidas</h3>
        <address>
            Suporte T.I<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>

</div>

