@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12 text-center">
        <h1>Gestão de Pacientes</h1>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 m-auto">

            <img src="~/fonts/Imagens/hospital.jpg" class="img-fluid" width="100%" height="100%">
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />


<div class="row">

    <div class="col-sm-4 m-auto">
        <h3>Proporcionar cuidado humanizado</h3>

        <img src="~/fonts/Imagens/1.jpg" class="img-fluid" width="80%" height="80%">

        <p> excelência em saúde, com foco na vida e no acolhimento com qualidade, na construção de conhecimento e na sustentabilidade.</p>
    </div>

    <div class="col-sm-4 m-auto">
        <h3>Ser referência </h3>
        <img src="~/fonts/Imagens/2.jpg" class="img-fluid" width="80%" height="80%">
        <p> comprometido com qualidade, sustentabilidade, ensino, desenvolvimento.</p>
    </div>

    <div class="col-sm-4 m-auto">
        <h3>Proporcionar cuidado humanizado</h3>
        <img src="~/fonts/Imagens/3.jpg" class="img-fluid" width="80%" height="80%">
        <p> Respeitar a diversidade no processo de promoção da saúde, proporcionando relacionamentos solidários e responsáveis.</p>
    </div>

</div>